.btncollapse:hover i {
  color: #0088ff;
}
.btncollapse span {
  opacity: 0.5;
}
.btncollapse:hover span {
  opacity: 1;
}
.btncollapse span,
.btncollapse i,
.load-more h3,
.series-link p,
.kayo-link span,
.series-link:hover span {
  transition: all 0.5s ease-in;
}
#ul-hover li {
  font-size: 13px !important;
  transition: all 0.3s ease-in;
}
#ul-hover li:hover {
  background-color: #0088ff;
}
.load-more:hover h3,
.series-link:hover p,
.kayo-link:hover span,
.series-link:hover span {
  color: #0088ff !important;
}
.custom-collapse,
.custom-collapse-content a {
  cursor: pointer;
}
